div#scrollbar {
    display:block; /* initially display:none; to hide from incapable */
    }

div#wn	{ 
    position:relative;
    width:280px; 
	height:110px;
    overflow:hidden;
	}
    
div#scrollbar { 
  position:relative;
  height:110px; 
  font-size:1px;  /* so no gap or misplacement due to image vertical alignment */
  }
div#track { 
  position:absolute; 
  left:2; 
  top:1px;
  width:3px; 
  height:110px;  
    
  }
div#dragBar {
  position:absolute; left:1px; top:1px;
  height:1px;
  background-image:url(images/Scroll_knob.png)
  }  
div#up { position:absolute; left:0; top:0; }  
div#down { position:absolute; left:0; bottom:0; }

/* for safari, to prevent selection problem  */
div#scrollbar, div#track, div#dragBar, div#up, div#down {
    -moz-user-select: none;
    -khtml-user-select: none;
}


/* so no gap or misplacement due to image vertical alignment
font-size:1px in scrollbar has same effect (less likely to be removed, resulting in support issues) */
div#scrollbar img {
    display:block; 
    } 